<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587222150584-9drtjv9vkgh15iu5uokd90m7mthin3f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587222150584-9drtjv9vkgh15iu5uokd90m7mthin3f0</string>
	<key>API_KEY</key>
	<string>AIzaSyCc40zHlHB16c0s7x3d1f68by8HdEJQW4k</string>
	<key>GCM_SENDER_ID</key>
	<string>587222150584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owenbarrott.MessengerPractice</string>
	<key>PROJECT_ID</key>
	<string>messengerpractice-f0aed</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerpractice-f0aed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587222150584:ios:035c14d965c6a88f5d734d</string>
	<key>DATABASE_URL</key>
	<string>https://messengerpractice-f0aed.firebaseio.com</string>
</dict>
</plist>